.h_special {
    margin: 10px;
    padding: 10px;
    border-bottom: solid 5px var(--ifm-color-primary);
    width: fit-content;
}

.feature_block h4 {
    color: var(--ifm-color-primary);
    text-align: center;
}

.feature_block p {
    text-align: center;
}

.feature_icon {
    width: 30%;
    padding: 10px;
    display: block;
    margin: auto;
}

@media screen and (max-width: 992px) {
    .text_col {
        order: 2;
    }

    .code_snippet {
        order: 1;
        margin-bottom: 20px;
    }
}